.addProject {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.addProject div, button {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.addProject button {
   width: 150px;
   height: 30px; 
   font-size: 16px;
   font-weight: 600;
}
.addProject input {
   width: 300px;
   height: 30px;
   margin: 10px 10px;
}
.logo {
   font-size: 20px;
   font-weight: bold;
   display: flex;
   justify-content: center;
}
input {
   border-radius: 10px;
   border: 1px solid #232122;
   outline: none;
}
button {
   background-color: white;
   color:yellowgreen;
   border: 1px solid #232122;
   border-radius: 15px;
   outline: none;
}
button:hover {
   background-color: #232122;
}
.listProjects{
 margin-top: 25px;
}

.item {
   margin-top: 15px;
   font-size: 18px;
}
.item a{
   text-decoration: none;
   color:yellowgreen;
   transition: 0.2s linear;
}
.item a:hover {
   color: rgb(148, 146, 146);
   transition: 0.2s linear;
}
.item .active {
   color: #353534;
}