.hr {
   border: none;
   background-color: yellowgreen;
   color: yellowgreen;
   height: 0.7px;
}
.events {
   margin: 10px 0px;
   font-size: 24px;
   font-weight: 700;
}
.img img{
   min-height: 300px;
   max-height: 400px;
   border-radius: 7px;
}
.img {
   display: flex;
   justify-content: center;
}
.theme {
   margin: 0px 65px;
   max-width: 1070px;
}
.news div {
 margin-top: 10px;
}